<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About page</title>
    <link rel="stylesheet" href="/static/css/styles.css"/>
  </head>
  <body>
    <a href="/">Home</a>
    <h1>This is about page</h1>
  </body>
</html>
