<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <a href="/about">About</a>
    <h1>Welcome, <%= userName %></h1>
    <ul>
      <% for (let account of accounts) { %>
      <li><%= account.id %> <b><%=account.amount%></b></li>
      <% } %>
    </ul>
    <form action="/accounts" method="POST">
      <button>Create new account</button>
    </form>
  </body>
</html>
